{% extends 'base.html' %}
{% set header_title = 'Add Plant' %}
{% set active_tab = 'add' %}

{% block content %}
  <div class="card">
    <div class="muted" style="margin-bottom:10px">Take up to 4 photos of your plant, then add it to your collection.</div>

    <form method="post" enctype="multipart/form-data" class="form">
      {{ form.hidden_tag() }}

      <div class="form-row">
        <label>{{ form.name.label }}</label>
        {{ form.name(class_='input', placeholder='Dumb canes') }}
      </div>

      <div class="form-row two">
        <div>
          <label>{{ form.scientific_name.label }}</label>
          {{ form.scientific_name(class_='input', placeholder='Dieffenbachia') }}
        </div>
        <div>
          <label>{{ form.age_months.label }}</label>
          {{ form.age_months(class_='input', placeholder='24') }}
        </div>
      </div>

      <div class="form-row">
        <label>{{ form.origin.label }}</label>
        {{ form.origin(class_='input', placeholder='New World Tropics') }}
      </div>

      <div class="form-row two">
        <div>
          <label>{{ form.light.label }}</label>
          {{ form.light(class_='input', placeholder='Bright indirect') }}
        </div>
        <div>
          <label>{{ form.water.label }}</label>
          {{ form.water(class_='input', placeholder='Moderate') }}
        </div>
      </div>

      <div class="form-row">
        <label>{{ form.soil.label }}</label>
        {{ form.soil(class_='input', placeholder='Airy and slightly acidic') }}
      </div>

      <div class="form-row">
        <label>{{ form.notes.label }}</label>
        {{ form.notes(class_='textarea', placeholder='Notes about this plant...') }}
      </div>

      <div class="form-row">
        <label>Photos (up to 4)</label>
        <input class="input" type="file" name="photos" accept="image/*" multiple onchange="previewFiles(this)">
        <div class="photo-preview" id="preview"></div>
      </div>

      <button class="btn primary" type="submit">Add Plant</button>
    </form>
  </div>
{% endblock %}
